.cardCart{
    text-align: center;
}

.cardCart button{
    margin: 5px;
    padding: 5px;
}

.cardCart button:hover{
    background-color: darkgoldenrod;
    
    transform: translateY(4px)
}


      
