
.barraNav{

    background-color: #cdaa54;
    margin: 10px;
}

.btnNav{
    text-decoration: none;
    color: wheat;
    cursor: pointer;
    
}
.btnNav:hover {
    color: black;
    transition: 1s;
}